# Core ML Libraries - Compatible with Python 3.12
numpy
pandas
scikit-learn
xgboost
imbalanced-learn
Flask
Werkzeug
pymongo
dnspython
python-dotenv
dill
mlflow
dagshub
imblearn
seaborn
evidently
fastapi
uvicorn
httptools
jinja2
python-multipart
aiofiles
watchfiles
websockets
boto3
mypy-boto3-s3
types-s3transfer
wincertstore
dvc

# Visualization Libraries
matplotlib
plotly
kaleido
fpdf2

-e .