name: workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

permissions:
  id-token: write
  contents: read

jobs:
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Lint code
        run: echo "Linting repository"

      - name: Run unit tests
        run: echo "Running unit tests" 

  build-and-push-acr-image:
    name: Continuous Delivery
    needs: integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{}}
          username: ${{}}
          password: ${{}}

      - name: Build, tag, and push image to ACR
        id: build-image
        env:
          IMAGE_TAG: latest
        run: |
          # Build a docker container and
          # push it to ACR
          docker build -t ${{}}/fraud-detection:$IMAGE_TAG .
          docker push ${{}}/fraud-detection:$IMAGE_TAG

  Continuous-Deployment:
    needs: build-and-push-acr-image
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{}}
          username: ${{}}
          password: ${{}}

      - name: Pull latest images
        run: |
          docker pull ${{ secrets.ACR_LOGIN_SERVER }}/fraud-detection:latest

      # - name: Stop and remove visibility container if running
      #   run: |
      #    docker ps -q --filter "name=visibility" | grep -q . && docker stop visibility && docker rm -fv visibility

      - name: Run Docker Image to serve users
        run: |
          docker run -d -p 5000:5000 --name=fraud-detection -e 'MONGO_DB_URL=${{ secrets.MONGO_DB_URL }}' ${{ secrets.ACR_LOGIN_SERVER }}/fraud-detection:latest

      - name: Clean previous images and containers
        run: |
          docker system prune -f
